{
    "openapi": "3.0.0",
    "info": {
        "title": "Tribe Community API",
        "description": "Auto-generated API documentation for Tribe Community Platform. Includes billing, payments, subscriptions, and user management endpoints.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://community.tribe365.co",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/basecamp/stripe-config": {
            "get": {
                "tags": [
                    "Basecamp Billing",
                    "Basecamp Users"
                ],
                "summary": "Get Stripe configuration for mobile app",
                "description": "Retrieve Stripe publishable key and payment configuration for initializing Stripe SDK in mobile applications. This endpoint does not require authentication as it only returns public configuration.",
                "operationId": "a9bfe397f7a7f693c14a7874b22a7ce8",
                "responses": {
                    "200": {
                        "description": "Stripe configuration retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Stripe configuration retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "publishable_key": {
                                                    "description": "Stripe publishable key for client-side SDK",
                                                    "type": "string",
                                                    "example": "pk_test_51..."
                                                },
                                                "currency": {
                                                    "description": "Payment currency",
                                                    "type": "string",
                                                    "example": "gbp"
                                                },
                                                "monthly_price": {
                                                    "description": "Monthly subscription price in GBP",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 10
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to retrieve Stripe configuration."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/basecamp/invoices": {
            "get": {
                "tags": [
                    "Basecamp Billing",
                    "Basecamp Users"
                ],
                "summary": "Get basecamp user invoices",
                "description": "Retrieve all invoices for the authenticated basecamp user. Returns invoices with status, amounts, and payment information.",
                "operationId": "4006b21b58b6f34af189db853093d9b5",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter invoices by status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "unpaid",
                                "paid",
                                "pending",
                                "overdue"
                            ],
                            "example": "unpaid"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invoices retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invoices retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "invoice_number": {
                                                        "type": "string",
                                                        "example": "INV-202512-0001"
                                                    },
                                                    "tier": {
                                                        "type": "string",
                                                        "example": "basecamp"
                                                    },
                                                    "subtotal": {
                                                        "description": "Amount before VAT",
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 10
                                                    },
                                                    "tax_amount": {
                                                        "description": "VAT amount (20%)",
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 2
                                                    },
                                                    "total_amount": {
                                                        "description": "Total amount including VAT",
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 12
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "unpaid"
                                                    },
                                                    "invoice_date": {
                                                        "type": "string",
                                                        "format": "date",
                                                        "example": "2025-01-05"
                                                    },
                                                    "due_date": {
                                                        "type": "string",
                                                        "format": "date",
                                                        "example": "2025-01-12"
                                                    },
                                                    "paid_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-01-05T10:30:00.000000Z",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 5
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized. Please login."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - User is not a basecamp user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Only basecamp users can access this endpoint."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/basecamp/subscription": {
            "get": {
                "tags": [
                    "Basecamp Billing",
                    "Basecamp Users"
                ],
                "summary": "Get basecamp user subscription details",
                "description": "Retrieve subscription details for the authenticated basecamp user including status, billing dates, and tier information.",
                "operationId": "4cd585de887c3f76d45d67c1b68446fd",
                "responses": {
                    "200": {
                        "description": "Subscription details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Subscription details retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "user_id": {
                                                    "description": "User ID for mobile apps",
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "tier": {
                                                    "type": "string",
                                                    "example": "basecamp"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "active",
                                                        "inactive",
                                                        "cancelled",
                                                        "canceled",
                                                        "cancel_at_period_end"
                                                    ],
                                                    "example": "active"
                                                },
                                                "user_count": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "current_period_start": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-01-07T00:00:00.000000Z",
                                                    "nullable": true
                                                },
                                                "current_period_end": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-02-07T00:00:00.000000Z",
                                                    "nullable": true
                                                },
                                                "next_billing_date": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-02-07T00:00:00.000000Z",
                                                    "nullable": true
                                                },
                                                "monthly_price": {
                                                    "description": "Monthly subscription price in GBP (before VAT)",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 10
                                                },
                                                "monthly_price_with_vat": {
                                                    "description": "Monthly subscription price including 20% VAT in GBP",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 12
                                                },
                                                "vat_rate": {
                                                    "description": "VAT percentage",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 20
                                                },
                                                "stripe_subscription": {
                                                    "description": "Stripe subscription details (if available)",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Stripe subscription ID",
                                                            "type": "string",
                                                            "example": "sub_1SnFnILsZTe0ouTrgXo1ea0w"
                                                        },
                                                        "status": {
                                                            "description": "Stripe subscription status",
                                                            "type": "string",
                                                            "example": "active"
                                                        },
                                                        "current_period_start": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2025-01-07T00:00:00.000000Z",
                                                            "nullable": true
                                                        },
                                                        "current_period_end": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2025-02-07T00:00:00.000000Z",
                                                            "nullable": true
                                                        },
                                                        "cancel_at_period_end": {
                                                            "description": "Will cancel at period end",
                                                            "type": "boolean",
                                                            "example": false
                                                        },
                                                        "canceled_at": {
                                                            "description": "Cancellation timestamp if cancelled",
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": null,
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object",
                                                    "nullable": true
                                                },
                                                "payment_method": {
                                                    "description": "Payment method details (if available)",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Payment method ID",
                                                            "type": "string",
                                                            "example": "pm_1SnFnILsZTe0ouTrgXo1ea0w"
                                                        },
                                                        "type": {
                                                            "description": "Payment method type",
                                                            "type": "string",
                                                            "example": "card"
                                                        },
                                                        "card": {
                                                            "properties": {
                                                                "brand": {
                                                                    "description": "Card brand (visa, mastercard, amex)",
                                                                    "type": "string",
                                                                    "example": "visa"
                                                                },
                                                                "last4": {
                                                                    "description": "Last 4 digits of card",
                                                                    "type": "string",
                                                                    "example": "4242"
                                                                },
                                                                "exp_month": {
                                                                    "description": "Expiry month (1-12)",
                                                                    "type": "integer",
                                                                    "example": 12
                                                                },
                                                                "exp_year": {
                                                                    "description": "Expiry year",
                                                                    "type": "integer",
                                                                    "example": 2029
                                                                },
                                                                "funding": {
                                                                    "description": "Card funding type (credit, debit)",
                                                                    "type": "string",
                                                                    "example": "credit"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized. Please login."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - User is not a basecamp user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Only basecamp users can access this endpoint."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subscription not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Subscription not found."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/basecamp/payment-intent": {
            "post": {
                "tags": [
                    "Basecamp Billing",
                    "Basecamp Users"
                ],
                "summary": "Create Stripe payment intent for basecamp invoice",
                "description": "Create a Stripe payment intent for a basecamp user's invoice. Returns client_secret for Stripe.js integration. Requires an unpaid invoice.",
                "operationId": "6f964971f30037ec26bfb56b20343756",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "invoice_id"
                                ],
                                "properties": {
                                    "invoice_id": {
                                        "description": "ID of the invoice to pay",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment intent created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Payment intent created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "client_secret": {
                                                    "description": "Stripe payment intent client secret for frontend integration",
                                                    "type": "string",
                                                    "example": "pi_1234567890_secret_..."
                                                },
                                                "payment_intent_id": {
                                                    "description": "Stripe payment intent ID",
                                                    "type": "string",
                                                    "example": "pi_1234567890"
                                                },
                                                "invoice_id": {
                                                    "description": "Invoice ID",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "user_id": {
                                                    "description": "User ID",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "email": {
                                                    "description": "User email address for payment processing",
                                                    "type": "string",
                                                    "format": "email",
                                                    "example": "user@example.com"
                                                },
                                                "amount": {
                                                    "description": "Payment amount in GBP (includes 20% VAT)",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 12
                                                },
                                                "currency": {
                                                    "description": "Payment currency",
                                                    "type": "string",
                                                    "example": "gbp"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Invoice not found or already paid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invoice not found or already paid."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized. Please login."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - User is not a basecamp user or invoice doesn't belong to user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You can only pay your own invoices."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to create payment intent."
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Error message"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/basecamp/confirm-payment": {
            "post": {
                "tags": [
                    "Basecamp Billing",
                    "Basecamp Users"
                ],
                "summary": "Confirm payment for basecamp invoice",
                "description": "Confirm and process payment for a basecamp invoice after successful Stripe payment. Updates invoice status, creates payment record, and activates subscription.",
                "operationId": "d59ee2700e9365ec1f625a1db88fbb04",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "invoice_id",
                                    "payment_intent_id"
                                ],
                                "properties": {
                                    "invoice_id": {
                                        "description": "ID of the invoice being paid",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "payment_intent_id": {
                                        "description": "Stripe payment intent ID",
                                        "type": "string",
                                        "example": "pi_1234567890"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment confirmed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Payment confirmed successfully. Your subscription is now active."
                                        },
                                        "data": {
                                            "properties": {
                                                "payment_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "invoice_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "invoice_status": {
                                                    "type": "string",
                                                    "example": "paid"
                                                },
                                                "subscription_status": {
                                                    "type": "string",
                                                    "example": "active"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Payment already processed or invalid payment intent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Payment already processed or invalid payment intent."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized. Please login."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You can only confirm payments for your own invoices."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to confirm payment."
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Error message"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/basecamp/invoice/{id}/view": {
            "get": {
                "tags": [
                    "Basecamp Billing",
                    "Basecamp Users"
                ],
                "summary": "View invoice details",
                "description": "Retrieve detailed invoice information including invoice items, payment details, subscription information, and payment method details. Returns complete invoice data for viewing in mobile app.",
                "operationId": "d48c374c6ed905889b01b7a18ce0d285",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Invoice ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invoice details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invoice details retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "invoice_number": {
                                                    "type": "string",
                                                    "example": "INV-202512-0001"
                                                },
                                                "tier": {
                                                    "type": "string",
                                                    "example": "basecamp"
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "subscription_id": {
                                                    "type": "integer",
                                                    "example": 1,
                                                    "nullable": true
                                                },
                                                "user_count": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "price_per_user": {
                                                    "description": "Price per user before VAT",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 10
                                                },
                                                "subtotal": {
                                                    "description": "Subtotal before VAT",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 10
                                                },
                                                "tax_amount": {
                                                    "description": "VAT amount (20%)",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 2
                                                },
                                                "total_amount": {
                                                    "description": "Total amount including VAT",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 12
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "unpaid",
                                                        "paid",
                                                        "pending",
                                                        "overdue"
                                                    ],
                                                    "example": "paid"
                                                },
                                                "invoice_date": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2025-01-05"
                                                },
                                                "due_date": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2025-01-12"
                                                },
                                                "paid_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-01-05T10:30:00.000000Z",
                                                    "nullable": true
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-01-05T10:30:00.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-01-05T10:30:00.000000Z"
                                                },
                                                "subscription": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "tier": {
                                                            "type": "string",
                                                            "example": "basecamp"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "active"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "nullable": true
                                                },
                                                "payments": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "amount": {
                                                                "description": "Payment amount including VAT",
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 12
                                                            },
                                                            "payment_method": {
                                                                "type": "string",
                                                                "example": "card"
                                                            },
                                                            "transaction_id": {
                                                                "type": "string",
                                                                "example": "pi_1234567890"
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "example": "completed"
                                                            },
                                                            "payment_date": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2025-01-05"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "first_name": {
                                                            "type": "string",
                                                            "example": "John"
                                                        },
                                                        "last_name": {
                                                            "type": "string",
                                                            "example": "Doe"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "john@example.com"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized. Please login."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - User cannot access this invoice",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You can only view your own invoices."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Invoice not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invoice not found."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/basecamp/invoice/{id}/download": {
            "get": {
                "tags": [
                    "Basecamp Billing",
                    "Basecamp Users"
                ],
                "summary": "Download invoice as PDF/HTML",
                "description": "Download invoice as HTML file that can be printed as PDF. Returns invoice HTML content with proper headers for download. Mobile apps can save this HTML and convert to PDF or display in webview.",
                "operationId": "88d705b530d7ff324609fabe3a27ffb3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Invoice ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invoice downloaded successfully",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "description": "HTML content of the invoice",
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized. Please login."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - User cannot download this invoice",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You can only download your own invoices."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Invoice not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invoice not found."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/basecamp/cancel-subscription": {
            "post": {
                "tags": [
                    "Basecamp Billing",
                    "Basecamp Users",
                    "Billing - Subscription Management"
                ],
                "summary": "Cancel basecamp user subscription",
                "description": "Cancel the subscription for the authenticated basecamp user. By default, subscription will be cancelled at the end of the billing period (cancel_at_period_end=true). User can continue using the service until the end date. Works for mobile apps.",
                "operationId": "708a0cc52830e6f4912b7a89080c8421",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "cancel_at_period_end": {
                                        "description": "If true (default), cancels at end of billing period. Subscription remains active until end date. If false, cancels immediately and stops all future payments.",
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Subscription cancelled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Your subscription has been cancelled successfully. Monthly payments have been stopped."
                                        },
                                        "data": {
                                            "properties": {
                                                "subscription_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "stripe_subscription_id": {
                                                    "type": "string",
                                                    "example": "sub_1234567890",
                                                    "nullable": true
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "canceled",
                                                        "cancel_at_period_end"
                                                    ],
                                                    "example": "canceled"
                                                },
                                                "canceled_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-01-07T10:30:00.000000Z"
                                                },
                                                "current_period_end": {
                                                    "description": "Subscription end date - user can still use service until this date",
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2026-03-08"
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "cancel_at_period_end": {
                                                    "description": "Whether subscription will cancel at period end",
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - No active subscription found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No active subscription found to cancel."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized. Please login."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - User is not a basecamp user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Only basecamp users can access this endpoint."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to cancel subscription."
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Error message"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/submit-payment": {
            "post": {
                "tags": [
                    "Payments"
                ],
                "summary": "Submit payment for an invoice",
                "description": "Submit a payment for an invoice. Directors can submit payments for invoices from their organisation.",
                "operationId": "2cce795897f811f0d988e9906b354752",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "invoice_id",
                                    "payment_method",
                                    "amount"
                                ],
                                "properties": {
                                    "invoice_id": {
                                        "description": "ID of the invoice to pay",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "payment_method": {
                                        "description": "Payment method used",
                                        "type": "string",
                                        "enum": [
                                            "bank_transfer",
                                            "credit_card",
                                            "paypal",
                                            "other"
                                        ],
                                        "example": "bank_transfer"
                                    },
                                    "amount": {
                                        "description": "Payment amount",
                                        "type": "number",
                                        "format": "float",
                                        "example": 90
                                    },
                                    "transaction_id": {
                                        "description": "Transaction ID from payment provider",
                                        "type": "string",
                                        "example": "TXN-123456",
                                        "nullable": true
                                    },
                                    "payment_notes": {
                                        "description": "Additional payment notes",
                                        "type": "string",
                                        "example": "Payment made via bank transfer",
                                        "nullable": true
                                    },
                                    "payment_proof": {
                                        "description": "Payment proof document/image (max 2MB)",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "invoice_id",
                                    "payment_method",
                                    "amount"
                                ],
                                "properties": {
                                    "invoice_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "payment_method": {
                                        "type": "string",
                                        "enum": [
                                            "bank_transfer",
                                            "credit_card",
                                            "paypal",
                                            "other"
                                        ],
                                        "example": "bank_transfer"
                                    },
                                    "amount": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 90
                                    },
                                    "transaction_id": {
                                        "type": "string",
                                        "example": "TXN-123456",
                                        "nullable": true
                                    },
                                    "payment_notes": {
                                        "type": "string",
                                        "example": "Payment made via bank transfer",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Payment submitted successfully. It will be reviewed by admin."
                                        },
                                        "data": {
                                            "properties": {
                                                "payment_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "invoice_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 90
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "pending"
                                                },
                                                "payment_date": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2025-12-24"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - User does not have permission"
                    },
                    "404": {
                        "description": "Invoice not found"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/payments": {
            "get": {
                "tags": [
                    "Payments"
                ],
                "summary": "Get payment history",
                "description": "Retrieve payment history for the authenticated user's organisation. Directors can view payments for their organisation.",
                "operationId": "a8de634f39060a36c0ca7210aa25f679",
                "parameters": [
                    {
                        "name": "invoice_id",
                        "in": "query",
                        "description": "Filter payments by invoice ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter payments by status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "completed",
                                "failed"
                            ],
                            "example": "pending"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payments retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Payments retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "invoice_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "invoice_number": {
                                                        "type": "string",
                                                        "example": "INV-202512-0001"
                                                    },
                                                    "amount": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 90
                                                    },
                                                    "payment_method": {
                                                        "type": "string",
                                                        "example": "bank_transfer"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "pending"
                                                    },
                                                    "payment_date": {
                                                        "type": "string",
                                                        "format": "date",
                                                        "example": "2025-12-24"
                                                    },
                                                    "transaction_id": {
                                                        "type": "string",
                                                        "example": "TXN-123456",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 10
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/reflections": {
            "get": {
                "tags": [
                    "Reflections"
                ],
                "summary": "Get user's reflection list",
                "description": "Retrieve all reflections for the authenticated user. Returns reflections ordered by most recent first.",
                "operationId": "43b550d716ee5a0c870fd7bc6d9b5f67",
                "responses": {
                    "200": {
                        "description": "Reflections retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "topic": {
                                                        "type": "string",
                                                        "example": "Work-life balance"
                                                    },
                                                    "message": {
                                                        "type": "string",
                                                        "example": "I need to improve my work-life balance"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "enum": [
                                                            "new",
                                                            "inprogress",
                                                            "resolved"
                                                        ],
                                                        "example": "new"
                                                    },
                                                    "image": {
                                                        "description": "First image URL (for backward compatibility)",
                                                        "type": "string",
                                                        "example": "http://example.com/storage/hptm_files/image1.jpg",
                                                        "nullable": true
                                                    },
                                                    "images": {
                                                        "description": "Array of all image URLs",
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string",
                                                            "example": "http://example.com/storage/hptm_files/image1.jpg"
                                                        }
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2026-01-13 10:30 AM"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Reflections"
                ],
                "summary": "Create a new reflection",
                "description": "Create a new reflection for the authenticated user. Supports multiple image attachments (up to 10 images, max 5MB each). For mobile apps, send images as 'images[]' array in multipart/form-data.",
                "operationId": "2a3e45dcf3f3a3175d23cd0f3574c6e5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "topic",
                                    "message"
                                ],
                                "properties": {
                                    "topic": {
                                        "description": "Reflection topic",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Work-life balance"
                                    },
                                    "message": {
                                        "description": "Reflection message",
                                        "type": "string",
                                        "example": "I need to improve my work-life balance"
[...]
