{
    "openapi": "3.0.0",
    "info": {
        "title": "Tribe Community API",
        "description": "Auto-generated API documentation for Tribe Community Platform. Includes billing, payments, subscriptions, and user management endpoints.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/submit-payment": {
            "post": {
                "tags": [
                    "Payments"
                ],
                "summary": "Submit payment for an invoice",
                "description": "Submit a payment for an invoice. Directors can submit payments for invoices from their organisation.",
                "operationId": "2cce795897f811f0d988e9906b354752",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "invoice_id",
                                    "payment_method",
                                    "amount"
                                ],
                                "properties": {
                                    "invoice_id": {
                                        "description": "ID of the invoice to pay",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "payment_method": {
                                        "description": "Payment method used",
                                        "type": "string",
                                        "enum": [
                                            "bank_transfer",
                                            "credit_card",
                                            "paypal",
                                            "other"
                                        ],
                                        "example": "bank_transfer"
                                    },
                                    "amount": {
                                        "description": "Payment amount",
                                        "type": "number",
                                        "format": "float",
                                        "example": 90
                                    },
                                    "transaction_id": {
                                        "description": "Transaction ID from payment provider",
                                        "type": "string",
                                        "example": "TXN-123456",
                                        "nullable": true
                                    },
                                    "payment_notes": {
                                        "description": "Additional payment notes",
                                        "type": "string",
                                        "example": "Payment made via bank transfer",
                                        "nullable": true
                                    },
                                    "payment_proof": {
                                        "description": "Payment proof document/image (max 2MB)",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "invoice_id",
                                    "payment_method",
                                    "amount"
                                ],
                                "properties": {
                                    "invoice_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "payment_method": {
                                        "type": "string",
                                        "enum": [
                                            "bank_transfer",
                                            "credit_card",
                                            "paypal",
                                            "other"
                                        ],
                                        "example": "bank_transfer"
                                    },
                                    "amount": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 90
                                    },
                                    "transaction_id": {
                                        "type": "string",
                                        "example": "TXN-123456",
                                        "nullable": true
                                    },
                                    "payment_notes": {
                                        "type": "string",
                                        "example": "Payment made via bank transfer",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Payment submitted successfully. It will be reviewed by admin."
                                        },
                                        "data": {
                                            "properties": {
                                                "payment_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "invoice_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 90
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "pending"
                                                },
                                                "payment_date": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2025-12-24"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - User does not have permission"
                    },
                    "404": {
                        "description": "Invoice not found"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/payments": {
            "get": {
                "tags": [
                    "Payments"
                ],
                "summary": "Get payment history",
                "description": "Retrieve payment history for the authenticated user's organisation. Directors can view payments for their organisation.",
                "operationId": "a8de634f39060a36c0ca7210aa25f679",
                "parameters": [
                    {
                        "name": "invoice_id",
                        "in": "query",
                        "description": "Filter payments by invoice ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter payments by status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "completed",
                                "failed"
                            ],
                            "example": "pending"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payments retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Payments retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "invoice_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "invoice_number": {
                                                        "type": "string",
                                                        "example": "INV-202512-0001"
                                                    },
                                                    "amount": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 90
                                                    },
                                                    "payment_method": {
                                                        "type": "string",
                                                        "example": "bank_transfer"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "pending"
                                                    },
                                                    "payment_date": {
                                                        "type": "string",
                                                        "format": "date",
                                                        "example": "2025-12-24"
                                                    },
                                                    "transaction_id": {
                                                        "type": "string",
                                                        "example": "TXN-123456",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 10
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/login-admin": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Admin/User Login",
                "description": "Authenticate user and return JWT token with user details",
                "operationId": "bd6a641df622dac8027cf943d59b1d73",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "deviceType",
                                    "deviceId",
                                    "fcmToken"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "deviceType": {
                                        "type": "string",
                                        "example": "ios"
                                    },
                                    "deviceId": {
                                        "type": "string",
                                        "example": "device-uuid-123"
                                    },
                                    "fcmToken": {
                                        "type": "string",
                                        "example": "fcm-token-123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1QiLCJhbGc..."
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid credentials"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user",
                "description": "Register a new user account and assign default role",
                "operationId": "8a56853624e025573120a09a4c75d468",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "Password123!@#"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "Password123!@#"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registration successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User registered successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/billing/refunds/process": {
            "post": {
                "tags": [
                    "Billing - Refunds"
                ],
                "summary": "Process a refund request",
                "description": "Processes a refund for a Stripe payment. Supports full or partial refunds. Requires director or super_admin role.",
                "operationId": "b7160417acca99dcbcbccf02a4fe6262",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "payment_id",
                                    "reason"
                                ],
                                "properties": {
                                    "payment_id": {
                                        "description": "ID of the payment record to refund",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "reason": {
                                        "description": "Reason for refund",
                                        "type": "string",
                                        "enum": [
                                            "overcharge",
                                            "duplicate_payment",
                                            "service_cancellation",
                                            "module_removal",
                                            "other"
                                        ],
                                        "example": "overcharge"
                                    },
                                    "amount": {
                                        "description": "Partial refund amount (optional, defaults to full refund)",
                                        "type": "number",
                                        "format": "float",
                                        "example": 50,
                                        "nullable": true
                                    },
                                    "description": {
                                        "description": "Additional refund description",
                                        "type": "string",
                                        "maxLength": 500,
                                        "example": "Customer requested refund due to billing error",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Refund processed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Refund processed successfully"
                                        },
                                        "refund": {
                                            "description": "Stripe refund object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "re_1234567890"
                                                },
                                                "amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 50
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "succeeded"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Invalid refund request or payment already refunded"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Payment not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/billing/refunds/history": {
            "get": {
                "tags": [
                    "Billing - Refunds"
                ],
                "summary": "Get refund history",
                "description": "Retrieves refund history with optional filtering by organisation or subscription. Requires director or super_admin role.",
                "operationId": "35d975efe9d6ef80b7fd9c2879b9ca1f",
                "parameters": [
                    {
                        "name": "organisation_id",
                        "in": "query",
                        "description": "Filter refunds by organisation ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "subscription_id",
                        "in": "query",
                        "description": "Filter refunds by subscription ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Refund history retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "refunds": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "stripe_refund_id": {
                                                                "type": "string",
                                                                "example": "re_1234567890"
                                                            },
                                                            "amount": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 50
                                                            },
                                                            "currency": {
                                                                "type": "string",
                                                                "example": "usd"
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "example": "succeeded"
                                                            },
                                                            "refunded_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-12-24T10:00:00Z"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 10
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/billing/stripe/payment-intent/create": {
            "post": {
                "tags": [
                    "Billing - Stripe Payments"
                ],
                "summary": "Create Stripe payment intent for invoice",
                "description": "Creates a Stripe payment intent for paying an invoice. Requires director or super_admin role.",
                "operationId": "a3cffc27bb50d873ce84fea0fcf9e68e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "invoice_id"
                                ],
                                "properties": {
                                    "invoice_id": {
                                        "description": "ID of the invoice to pay",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment intent created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "client_secret": {
                                            "description": "Stripe payment intent client secret for frontend",
                                            "type": "string",
                                            "example": "pi_1234567890_secret_abc123"
                                        },
                                        "payment_intent_id": {
                                            "description": "Stripe payment intent ID",
                                            "type": "string",
                                            "example": "pi_1234567890"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Failed to create payment intent"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - User does not have permission"
                    },
                    "404": {
                        "description": "Invoice not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/billing/stripe/payment/confirm": {
            "post": {
                "tags": [
                    "Billing - Stripe Payments"
                ],
                "summary": "Confirm Stripe payment after successful transaction",
                "description": "Confirms a Stripe payment after the payment intent has been successfully processed. Updates invoice status and activates subscription. Requires director or super_admin role.",
                "operationId": "a39f4109071705bb6dfb8b55a3bd150b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "payment_intent_id",
                                    "invoice_id"
                                ],
                                "properties": {
                                    "payment_intent_id": {
                                        "description": "Stripe payment intent ID",
                                        "type": "string",
                                        "example": "pi_1234567890"
                                    },
                                    "invoice_id": {
                                        "description": "ID of the invoice being paid",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment confirmed and processed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Payment processed successfully. Your subscription has been activated."
                                        },
                                        "payment": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "invoice_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 90
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "completed"
                                                },
                                                "payment_date": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2025-12-24"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Payment not completed or already processed"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - User does not have permission"
                    },
                    "404": {
                        "description": "Invoice not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/billing/stripe/subscription/create": {
            "post": {
                "tags": [
                    "Billing - Stripe Subscriptions"
                ],
                "summary": "Create new Stripe subscription",
                "description": "Creates a new subscription for an organisation with the specified tier and user count. Requires director or super_admin role.",
                "operationId": "95aaa431e9647d50c29eae0456cd3e73",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "organisation_id",
                                    "tier",
                                    "user_count",
                                    "payment_method_id"
                                ],
                                "properties": {
                                    "organisation_id": {
                                        "description": "ID of the organisation",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "tier": {
                                        "description": "Subscription tier",
                                        "type": "string",
                                        "enum": [
                                            "spark",
                                            "momentum",
                                            "vision"
                                        ],
                                        "example": "spark"
                                    },
                                    "user_count": {
                                        "description": "Number of users in the subscription",
                                        "type": "integer",
                                        "minimum": 1,
                                        "example": 5
                                    },
                                    "payment_method_id": {
                                        "description": "Stripe payment method ID",
                                        "type": "string",
                                        "example": "pm_1234567890"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Subscription created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Subscription created successfully"
                                        },
                                        "subscription": {
                                            "description": "Stripe subscription object",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Failed to create subscription"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Organisation not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/billing/stripe/subscription/add-user": {
            "post": {
                "tags": [
                    "Billing - Stripe Subscriptions"
                ],
                "summary": "Add user to subscription (pro-rata charge)",
                "description": "Adds a user to an existing subscription with pro-rata billing. Charges are calculated based on remaining days in the billing period. Requires director or super_admin role.",
                "operationId": "3f5e77a7ae2d706b3d79f491763a27d9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "subscription_id",
                                    "organisation_id"
                                ],
                                "properties": {
                                    "subscription_id": {
                                        "description": "Stripe subscription ID",
                                        "type": "string",
                                        "example": "sub_1234567890"
                                    },
                                    "organisation_id": {
                                        "description": "ID of the organisation",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User added successfully"
                                        },
                                        "pro_rata_charge": {
                                            "description": "Pro-rata charge amount for the remaining days",
                                            "type": "number",
                                            "format": "float",
                                            "example": 3.33
                                        },
                                        "new_user_count": {
                                            "description": "Updated user count",
                                            "type": "integer",
                                            "example": 6
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Failed to add user"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Subscription not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/billing/stripe/subscription/remove-user": {
            "post": {
                "tags": [
                    "Billing - Stripe Subscriptions"
                ],
                "summary": "Remove user from subscription (pro-rata credit)",
                "description": "Removes a user from an existing subscription with pro-rata credit. Credits are calculated based on active days in the billing period. Minimum 1 user must remain. Requires director or super_admin role.",
                "operationId": "ba110987a95d0f6e7e10d598ed64ba2c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "subscription_id",
                                    "organisation_id"
                                ],
                                "properties": {
                                    "subscription_id": {
                                        "description": "Stripe subscription ID",
                                        "type": "string",
                                        "example": "sub_1234567890"
                                    },
                                    "organisation_id": {
                                        "description": "ID of the organisation",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User removed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User removed successfully"
                                        },
                                        "pro_rata_credit": {
                                            "description": "Pro-rata credit amount for the active days",
                                            "type": "number",
                                            "format": "float",
                                            "example": 6.67
                                        },
                                        "new_user_count": {
                                            "description": "Updated user count (minimum 1)",
                                            "type": "integer",
                                            "example": 4
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Failed to remove user or minimum user count reached"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Subscription not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/billing/stripe/subscription/cancel": {
            "post": {
                "tags": [
                    "Billing - Stripe Subscriptions"
                ],
                "summary": "Cancel subscription",
                "description": "Cancels a Stripe subscription. By default, cancellation occurs at the end of the current billing period. Requires director or super_admin role.",
                "operationId": "d3756d5c9f999b45990819b8d4046a48",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "subscription_id"
                                ],
                                "properties": {
                                    "subscription_id": {
                                        "description": "Stripe subscription ID",
                                        "type": "string",
                                        "example": "sub_1234567890"
                                    },
                                    "cancel_at_period_end": {
                                        "description": "Cancel at end of billing period (default: true). If false, cancels immediately.",
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Subscription canceled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Subscription canceled successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Failed to cancel subscription"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Subscription not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user-profile": {
            "get": {
                "tags": [
                    "User Profile"
                ],
                "summary": "Get user profile",
                "description": "Retrieve the authenticated user's complete profile information including personal details, organization, role, COT/SOT data, and timezone",
                "operationId": "c84e9a34f306458c51fa7fe86d304ad2",
                "responses": {
                    "200": {
                        "description": "User profile retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User Profile"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "John"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email",
                                                    "example": "john.doe@example.com"
                                                },
                                                "officeId": {
                                                    "type": "integer",
                                                    "example": 1,
                                                    "nullable": true
                                                },
                                                "departmentId": {
                                                    "type": "integer",
                                                    "example": 1,
                                                    "nullable": true
                                                },
                                                "orgId": {
                                                    "type": "integer",
                                                    "example": 1,
                                                    "nullable": true
                                                },
                                                "officeName": {
                                                    "type": "string",
                                                    "example": "Main Office",
                                                    "nullable": true
                                                },
                                                "departmentName": {
                                                    "type": "string",
                                                    "example": "Engineering",
                                                    "nullable": true
                                                },
                                                "profileImage": {
                                                    "type": "string",
                                                    "example": "http://example.com/storage/profile-photos/image.jpg",
                                                    "nullable": true
                                                },
                                                "organisation_logo": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "personaliseData": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "Active"
                                                },
                                                "userContact": {
                                                    "type": "string",
                                                    "example": "+1234567890",
                                                    "nullable": true
                                                },
                                                "country_code": {
                                                    "type": "string",
                                                    "example": "+1",
                                                    "nullable": true
                                                },
                                                "timezone": {
                                                    "description": "User's timezone from profile",
                                                    "type": "string",
                                                    "example": "America/New_York",
                                                    "nullable": true
                                                },
                                                "organisationName": {
                                                    "type": "string",
                                                    "example": "Acme Corp",
                                                    "nullable": true
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "organisation_user"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-01T00:00:00.000000Z"
                                                },
                                                "cotTeamRoleMap": {
                                                    "type": "string",
                                                    "example": "Leader, Collaborator, Innovator"
                                                },
                                                "cotTeamRoleMapArr": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "sotMotivationDetail": {
                                                    "type": "string",
                                                    "example": "Growth, Recognition, Autonomy"
                                                },
                                                "sotMotivationDetailArr": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "sotDetail": {
                                                    "type": "string",
                                                    "example": ""
                                                },
                                                "perTypeStatus": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "personalityTypeDetails": {
                                                    "type": "string",
                                                    "example": "You have not submitted your answers yet."
                                                },
                                                "personalityTypeDetailsArr": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User not authenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to fetch user profile"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Error message"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/update-user-profile": {
            "post": {
                "tags": [
                    "User Profile"
                ],
                "summary": "Update user profile",
                "description": "Update the authenticated user's profile information including name, phone, country code, timezone, and profile image",
                "operationId": "b8b9e9471112ba1ba1d5b549dfd9fa48",
                "requestBody": {
                    "required": false,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Doe"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "+1234567890"
                                    },
                                    "country_code": {
                                        "type": "string",
                                        "example": "+1"
                                    },
                                    "timezone": {
                                        "description": "Valid timezone identifier (e.g., America/New_York, Europe/London, Asia/Kolkata)",
                                        "type": "string",
                                        "maxLength": 50,
                                        "example": "America/New_York"
                                    },
                                    "profileImage": {
                                        "description": "Profile image file (jpg, jpeg, png, max 2MB)",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Doe"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "+1234567890"
                                    },
                                    "country_code": {
                                        "type": "string",
                                        "example": "+1"
                                    },
                                    "timezone": {
                                        "description": "Valid timezone identifier",
                                        "type": "string",
                                        "maxLength": 50,
                                        "example": "America/New_York"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Profile updated successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "John"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email",
                                                    "example": "john.doe@example.com"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "+1234567890",
                                                    "nullable": true
                                                },
                                                "country_code": {
                                                    "type": "string",
                                                    "example": "+1",
                                                    "nullable": true
                                                },
                                                "timezone": {
                                                    "description": "User's timezone from profile",
                                                    "type": "string",
                                                    "example": "America/New_York",
                                                    "nullable": true
                                                },
                                                "profileImage": {
                                                    "type": "string",
                                                    "example": "http://example.com/storage/profile-photos/image.jpg",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User not authenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to update profile"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Error message"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/timezone-list": {
            "get": {
                "tags": [
                    "User Profile"
                ],
                "summary": "Get timezone list",
                "description": "Retrieve a list of all available timezone identifiers that can be used for user profile timezone setting",
                "operationId": "b8f481b3a46ed3ec6ecd63b8d7d551d5",
                "responses": {
                    "200": {
                        "description": "Timezone list retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Timezone list retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "example": "America/New_York"
                                            },
                                            "example": [
                                                "America/New_York",
                                                "America/Chicago",
                                                "America/Denver",
                                                "America/Los_Angeles",
                                                "Europe/London",
                                                "Europe/Paris",
                                                "Asia/Kolkata",
                                                "Asia/Tokyo",
                                                "Australia/Sydney"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/add-happy-index": {
            "post": {
                "tags": [
                    "Happy Index"
                ],
                "summary": "Submit daily mood/sentiment",
                "description": "Store a new Happy Index (mood status) entry for a user",
                "operationId": "046a736348fedbb50e6e83a42c0b3736",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "userId",
                                    "moodStatus"
                                ],
                                "properties": {
                                    "userId": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "moodStatus": {
                                        "description": "1=Bad, 2=Okay, 3=Good",
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Feeling great today!"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Sentiment submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sentiment submitted successfully!"
                                        },
                                        "data": {
                                            "properties": {
                                                "todayEIScore": {
                                                    "type": "string",
                                                    "example": "1250.50"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Already submitted today",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You have already submitted your response"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/summary/{filterType}": {
            "get": {
                "tags": [
                    "Summary"
                ],
                "summary": "Get user summary by filter type",
                "description": "Retrieve user's Happy Index and leave summary based on filter type (this_week, last_7_days, previous_week, this_month, previous_month, custom, all)",
                "operationId": "c613b0866abb28c11d29fbb648cc4970",
                "parameters": [
                    {
                        "name": "filterType",
                        "in": "path",
                        "description": "Filter type for summary",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "this_week",
                                "last_7_days",
                                "previous_week",
                                "this_month",
                                "previous_month",
                                "custom",
                                "all"
                            ],
                            "example": "this_week"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Start date for custom filter (format: Y-m-d)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2024-01-01"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "End date for custom filter (format: Y-m-d)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2024-01-31"
                        }
                    },
                    {
                        "name": "timezone",
                        "in": "query",
                        "description": "User timezone (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Asia/Kolkata"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Summary retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "date": {
                                                        "type": "string",
                                                        "example": "Jan 15, 2024"
                                                    },
                                                    "score": {
                                                        "type": "integer",
                                                        "example": 85,
                                                        "nullable": true
                                                    },
                                                    "mood_value": {
                                                        "description": "1=average, 2=sad, 3=happy",
                                                        "type": "integer",
                                                        "example": 3,
                                                        "nullable": true
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Feeling great today!"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "example": "happy-app.png"
                                                    },
                                                    "status": {
                                                        "description": "Present, Out of office, or Missed",
                                                        "type": "string",
                                                        "example": "Present"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "Enter JWT token in format: Bearer {token}"
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "User authentication and registration endpoints"
        },
        {
            "name": "Billing - Refunds",
            "description": "Refund processing and history endpoints for Stripe payments"
        },
        {
            "name": "Billing - Stripe Payments",
            "description": "Stripe payment processing endpoints for invoices and subscriptions"
        },
        {
            "name": "Billing - Stripe Subscriptions",
            "description": "Stripe subscription management endpoints for creating, updating, and canceling subscriptions"
        },
        {
            "name": "User Profile",
            "description": "User profile management endpoints"
        },
        {
            "name": "Happy Index",
            "description": "Happy Index (mood tracking) endpoints"
        },
        {
[...]
